    <h1 mat-dialog-title>Ajouter un livre</h1>
    <!-- <div mat-dialog-content>
      <mat-form-field>
        <mat-label>Titre</mat-label>
        <input matInput [(ngModel)]="livre.titre">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Auteur</mat-label>
        <input matInput [(ngModel)]="livre.auteur">
      </mat-form-field>

            <mat-form-field>
        <mat-label>Prix</mat-label>
        <input matInput [(ngModel)]="livre.prix">
      </mat-form-field>

            <mat-form-field>
        <mat-label>Isbn</mat-label>
        <input matInput [(ngModel)]="livre.isbn">
      </mat-form-field> 
    </div> FAIRE UN FORMULAIRE --> 
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="true" (click)="onSave()">Enregistrer</button>
    </div>