:host {
  display: block;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

/* Overlay semi-transparent pour garantir le contraste du texte */
:host::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  padding-top: 1rem;
  //height: 64px; /* ou 72px selon ton design */
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// main {
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   position: relative;
//   z-index: 1; 
//   padding: 6rem 1rem 32px; /* Padding responsive */

  
//   /* Overlay pour améliorer la lisibilité du texte */
//   background-color: #000000; /* Fallback si l'image ne charge pas */
// }

main {
  min-height: 100vh;
  padding: 6rem 1rem 32px;
  background-color: #000;

  position: relative;
  z-index: 1;

  // padding-top: calc(64px + 6rem);

  padding : calc(64px + 6rem) 4rem 2rem;
}

/* Assurez le contraste pour l'accessibilité */
.body p {
  margin: 5px 0;
  font-size: clamp(3rem, 8vw, 8rem); /* Taille responsive */
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8); /* Ombre plus forte pour la lisibilité */
}