<!-- faire un champs de recherche -->

<!-- <h1>Mes livres</h1> -->

<div class="search">
  <!-- <mat-form-field appearance="fill">
    <mat-label>Recherche</mat-label>
    <input matInput placeholder="Recherchez un livre..." [(ngModel)]="zoneRecherche">
  </mat-form-field> -->

</div>


<div class="body">
  <div class="livre" *ngFor="let livre of livresFiltres">
    <strong>{{ livre.titre }}</strong>
    <br>
    Auteur(s) : {{ getNomsAuteurs(livre) }}
    <br>
    Prix : {{ livre.prix }} € <!-- formatter le montant pour qu'il soit à 2 décimales -->
  </div>
</div>

<!--pagination-->
