.body {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;   
  height: 50vh;           
  text-align: center;
}

.body p {
  margin: 5px 0; 
  font-size: 6rem; 
  color : rgb(172, 247, 247);
}