.book-carousel {
  max-width: 100%;
  margin: 0 auto;
}

.book-card {
  text-align: center;
  --p-card-background: #000000; /* nouvelle couleur */
}

.book-cover {
  width: 350px;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
}

.year {
  margin-top: 0.5rem;
  color: #e0e0e0;
}