.p-toolbar {
  display: block;
  height: 6rem; /* ou 4.5rem pour l'accessibilité */
}

.logo img {
  height: 4rem;
  width: auto;
  display: block;
  padding-left: 3rem;
  padding-right: 3rem;
}

.menu {
  display: flex;
  gap: 0.5rem;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.5rem;
    align-items: center; /* Centre verticalement */
  }

  a {
    text-decoration: none;
    color: #e0e0e0;
  }

  a.active {
    font-weight: bold;
    font-size: 110%;
  }
}

.searchBar{
  // padding-right: 2rem;

  .pi-search {
    font-size: 1.2rem;
  }

  .search-input {
    height: 2rem;
    width: 1rem;
    transition: width 0.3s ease; /* Animation smooth */
    border: none;
    background-color: black;
  }

  .search-input:focus {
    width: 15rem; /* ou 300px */
    outline: none; /* Optionnel : enlever le contour par défaut */
  }
}