<mat-toolbar color="primary" class="header">
  <span class="leftTitle">
    <p>Ma bibliothèque</p>
  </span>

  <!-- <div class="logo">
      <img src=" ../../../../../../assets/logo.jpg" alt="logo"/>
  </div> -->

  <nav class="centerTitle">
    <!-- <a mat-button routerLink="accueil" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Accueil</a>
    <a mat-button routerLink="livres" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Mes Livres</a>
    <a mat-button routerLink="bibliotheque" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Ma bibliothèque</a>
    <a mat-button routerLink="contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Contact</a> -->

    <a mat-button routerLink="accueil">Accueil</a>
    <a mat-button routerLink="livres">Mes Livres</a>
    <a mat-button routerLink="bibliotheque">Ma bibliothèque</a>
    <a mat-button routerLink="contact">Contact</a>
  </nav>
</mat-toolbar>

