<p-toolbar>
  <ng-template #start>
    <div class="logo">
      <img src="Logo_Livrarium_black2.png" alt="Logo_Livrarium">
    </div>
      <nav class="menu">
        <ul>
          <!--routerLinkActive -> pour le css, mise en évidence du component actif-->
          <li><a routerLink="home" routerLinkActive="active">Accueil</a></li>
          <li><a routerLink="livres" routerLinkActive="active">Mes Livres</a></li>
          <li><a routerLink="bibliotheque" routerLinkActive="active">Ma bibliothèque</a></li>
          <li><a routerLink="contact" routerLinkActive="active">Contact</a></li>
        </ul>
      </nav>
  </ng-template>

  <ng-template #end>
    <div class="searchBar">
      <p-iconfield iconPosition="left">
        <p-inputicon styleClass="pi pi-search"/>
        <input [formControl]="zoneRecherche" type="search" pInputText placeholder="Rechercher" aria-label="Rechercher dans le site" class="search-input"/>
      </p-iconfield>
    </div>
    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png" size="xlarge"/>
  </ng-template>
</p-toolbar>