.header {
  background: transparent; 
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; 

  .leftTitle {
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
  }

  .centerTitle {
    display: flex;
    justify-content: center;

    a {
      margin: 0 10px;
      color: white; 
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
}
