<mat-toolbar color="primary" class="header">

  <span class="leftTitle">
    <div class="log">
      <!-- mettre un logo  -->
    </div>

    @if(isConnected){
    <a mat-button routerLink="authentification" routerLinkActive="active" (click)="disconnect()">Mon Compte</a>
    }
    @else {
    <a mat-button routerLink="authentification" routerLinkActive="active" (click)="disconnect()">Se connecter</a>
    }

  </span>

  <span class="centerTitle">
    <p>Livrarium</p>
  </span>

  <!--routerLinkActive -> pour le css, mise en éévidence du component actif-->

  <nav class="rightTitle">
    <a mat-button routerLink="home" routerLinkActive="active">Accueil</a>
    <a mat-button routerLink="livres" routerLinkActive="active">Mes Livres</a>
    <a mat-button routerLink="bibliotheque" routerLinkActive="active">Ma bibliothèque</a>
    <a mat-button routerLink="contact" routerLinkActive="active">Contact</a>
  </nav>
</mat-toolbar>