<!-- <p-header>
  Ajouter un livre
</p-header> -->

<form [formGroup]="form" class="p-fluid">
  <!-- Titre -->
  <div class="p-field">
    <label for="titre">Titre</label>
    <input id="titre" type="text" pInputText formControlName="titre" [readonly]="true" />
  </div>

  <!-- Auteur(s) -->
  <div class="p-field">
    <label for="auteur">Auteur(s)</label>
    <input id="auteur" type="text" pInputText [value]="livre ? getNomsAuteurs(livre) : ''" readonly />
  </div>

  <!-- ISBN -->
  <div class="p-field">
    <label for="isbn">ISBN</label>
    <input id="isbn" type="text" pInputText formControlName="isbn"/>
  </div>

  <!-- Erreur -->
  <p-message *ngIf="error" severity="error" text="{{ error }}"></p-message>

<!-- Bouton recherche -->
  <div class="p-d-flex p-jc-between p-mt-2">
    <button pButton type="button" label="{{ loading ? 'Recherche...' : 'Rechercher' }}"
            (click)="getinfosLivre()"
            [disabled]="loading || !form.get('isbn')?.valid"
            class="p-button-primary">
    </button>

    <button pButton type="button" label="Ajouter livre"
            (click)="addLivre()"
            [disabled]="!livre || loading"
            class="p-button-success">
    </button>
  </div>
</form>